.bow-container {
  margin: 24px auto;
}

.bow-loading,
.bow-error {
  text-align: center;
  margin-top: 12px;
}

.weekTitle {
  font-size: 2rem;
    text-align: left;
    color: black;
}

.weekSection {
  padding: 2rem;
  padding-bottom: 0%;
  margin: auto; /* center section */
}