.quickActionsSection {
    padding: 2rem;
}

  
.quickActionsSection {
    gap: 3rem;
}

.quick-button {
    color: black;
    background-color: #FAD037;
}

.buttons {
    gap: 3rem;
}

h1{
    color: #FAD037;
    display: flex;
}

